<!DOCTYPE html>
<html>
<head>
</head>
<body>
  <h1>MayQueen StockKing 系統</h1>

  <p></p>
  <form action="/search" method="POST">
  <select id="thelist" name="thelist" >
    <option>三大法人買賣統計</option>
    <option>買賣超統計</option>
  </select>
  <script src="https://dl.dropboxusercontent.com/u/19096175/blog/selectDate/selectDate.js" type="text/javascript"></script>
  <br><br>
  <input onfocus="HS_setDate(this)" readonly="" id="datelist_from" name="datelist_from" type="text" value="選擇開始日期" />
  <br><br>
  <input onfocus="HS_setDate(this)" readonly="" id="datelist_to" name="datelist_to" type="text" value="選擇結束日期" />
  <br><br> 
  <input type="text" id="codeinput" name="codeinput" />
  <br><br>
  <input type="submit" name="btn_ok" class ="btn-primary" value="確認">
  </form>
  <br>
  <table border="1">
  <tr>
      <td>日期</td><td>證券代號</td><td>證券名稱</td><td>買進股數</td><td>賣出股數</td><td>買賣超股數</td>
  </tr>
  {% for row in message %}
      <tr>
      {% for column in row %}
      <td>
      {{ column }}
      </td>
      {% endfor %}
      </tr>
  {% endfor %}
  </table>

  <script src="https://dl.dropboxusercontent.com/u/19096175/blog/selectDate/selectDate.js" type="text/javascript"></script>

</body>
</html>
